/*Спецификация*/

body {
	font-family: 'PT Sans', sans-serif;
}

/* 

ul, li {

	display: block;
	padding: 0;
	margin: 0;
}

Первый экран

header {
	height: 78px;
	background-color: grey;
	text-decoration-color: #555555;
	padding-top: 19px;
}

a img.logo{
	height: 50px;
	min-height: 30px;
	display: block;
	max-width: 100%;
}

.menu {
	
}
.left-menu{
	margin-left: -100px;
}

.menu__item {
margin: 0 20px;
}

.menu__item a {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #555555;
} */