@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


.remove-all-margin{
margin:0 ! important;
}
a {text-decoration: none; color: #4F4F4F ;}
a:hover {text-decoration: none; color: #4F4F4F;}

.navbar , .carousel-caption{
	font-family: 'Playfair Display', serif;
}
.navbar{
	min-height: 120px;
	background-color: #fff !important;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	letter-spacing: 2px;

}
.nav-link{
	margin-right: 1em !important;
	color: #4F4F4F !important;
	cursor: pointer;
}

.nav-link:hover{
	opacity: 0.6
}
.active > a{
	border-bottom: 1px solid #a4d1de;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
a > img{
	max-width: 340px;
	max-height:50px;
}
.slide-title{
font-size: 60px;
}
.about{
	background-color: #f2f2f2;
	height: 93px;
}